@model car_workshop_csharp.Models.ExtendedTicketDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            Registration ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationId)
        </dd>
        <dt class="col-sm-2">
            Problem Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            Employee's Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>

<div>
    <h4>Parts</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model.Parts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => part.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => part.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => part.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => part.TotalPrice)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Part" asp-route-id="@part.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Add" asp-controller="Part" class="btn btn-primary" asp-route-id="@Model.Id">Add Part</a>
</div>

<div>
    <h4>Time Slots</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Start Time
                </th>
                <th>
                    End Time
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var timeSlot in Model.TimeSlots)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => timeSlot.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => timeSlot.EndTime)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="TimeSlot" asp-route-id="@timeSlot.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>